body {
  position: relative;
}
.hit-product {
  justify-content: center;
  margin: 25px auto 50px auto;
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.product {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 10px 5px 25px 0px rgb(156, 156, 156);
}

.product-section {
  flex-grow: 1;
  position: relative;
  max-width: 200px;
  margin-bottom: 10px;
}

.product-section:hover > button,
.product-section:hover > section {
  visibility: visible;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-viewing {
  visibility: hidden;
  cursor: pointer;
  width: max-content;
  height: max-content;
  margin: auto;
  position: absolute;
  padding: 5px;
  left: 0;
  right: 0;
  top: -15px;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0px 10px 30px 0px rgb(121, 120, 120);
  opacity: 0.85;
}
.product-info {
  visibility: hidden;
  display: flex;
  opacity: 0.9;
  padding: 10px;
  gap: 110px;
  align-items: center;
  position: absolute;
  top: 80px;
}
.product-buy {
  border: none;
  background: green;
  color: white;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 5px;
  margin: 15px auto;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  bottom: 3px;
  right: 3px;
  box-shadow: 3px 3px 5px 1px black;
}
.product-buy:hover {
  bottom: 0;
  right: 0;
  box-shadow: none;
}
.discound {
  padding: 3px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: 500;
  min-width: 37px;
}
.like-product {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.price {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.price-new {
  font-size: 19px;
  font-weight: 600;
}
.price-old {
  font-size: 16px;
  text-decoration: line-through;
  color: red;
  font-weight: 500;
}
.product-title {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.product-viewed {
  max-width: none;
  width: 400px;
  position: absolute;
  left: -50%;
  top: -200%;
  z-index: 10;
  box-shadow: 0 0 10px black;
  border-radius: 20px 20px 20px 20px;
}

.product-description {
  display: none;
  width: 70%;
  z-index: 10;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  transition: all 0.3s;
  opacity: 0;
}

.big-viewe {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.close-img {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 130%;
  cursor: pointer;
}

.card-img {
  position: absolute;
  border-radius: 10px;
  width: 70%;
  object-fit: contain;
}

.card-img ~ .product-description {
  display: block;
}

.card-img:hover ~ .product-description {
  opacity: 1;
}
.product-description:hover {
  opacity: 1;
  display: block;
}

.find-product {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
  overflow: hidden;
  max-height: 100px;
  margin-bottom: 1px;
  align-items: center;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid black;
  gap: 10px;
  cursor: pointer;
}

.find-product .product-section {
  margin: 0;
  flex-grow: 0;
  flex-basis: 70px;
}

.find-product span {
  flex-grow: 1;
}

.find-product button {
  margin: 0 10px;
}

.find-product .product-section .product-viewing,
.find-product .product-section .product-info {
  display: none;
}

.find-product .product-section .product-img {
  border-radius: 0;
}
@media screen and (max-width: 1200px) {
  .products {
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
  }
}
@media screen and (max-width: 780px) {
  .product-description {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .product-description {
    font-size: 10px;
  }
}