*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    box-sizing: border-box;
}

.body{
    margin: 20px auto 0 auto;
    background: #F5F5F5FF;
    border: 3px solid #3B3B3BFF;
    border-radius: 5px;
    min-height: 630px;
    max-width: 910px;
    width: 100%;
    padding: 20px;
}

.main-container{
    padding: 0 10px;
}