.pop_up{
    /* display: none; */
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 100;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.pop_up.active{
    display: block;
}

.pop_up_body {
    margin: 0 auto;
    max-width: 518px;
    width: 100%;
    min-height: 220px;
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 0px 30px 15px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.pop_up_content{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    margin-top: 60px;
}
@media(max-width:360px){
    .pop_up_content{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
}
.pop_up_body p{
    font-size: 28px;
    font-weight: 600;
    color: #22262D;
}

.btn_clear{
    cursor: pointer;
    display: block;
    width: 150px;
    height: 49px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    background-color: #f7cecc;
}

.pop_up_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}
.pop_up_list{
    flex: 1 1 auto;
}
.modal_footer{
    display: block;
    font-size: 28px;
    font-weight: 600;
    text-align: right;
       
}



